.deal-item-container {
    
    .advertiser-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; 

        .info-container {
            flex-flow: 50%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .avatar {
                margin-right: 10px;
            }
        }

        .rating-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-width: 130px;
        }
    }

    .advertisement-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        
        .buy-sell-button {
            width: 100px;
        }
    }

}