@import "../../styles/vars.scss";

.home-page-container {
    padding: 0 15px;
    padding-top: 50px;

    .user-card-container {
        margin-bottom: 25px;
        padding: 15px;
        border-radius: $container-border-radius;
        box-shadow: 0px 0px 30px 0px #e9e9e9;
        justify-content: space-between;
        align-items: center;

        .user-avatar {
            margin-right: 1rem;
        }
    }

    .balance-header {
        align-items: baseline;
        margin-bottom: 10px;
    }

    .balance-container {
        font-size: 22px;
        margin-bottom: 20px;

        .coin-select {
            max-width: 100px;
        }

        .coin-balance {
            font-weight: 600;
        }

        .fiat-balance {
            color: #5a5a5a;
        }
    }

    .deal-history-container {
        overflow-y: scroll;

        .deal-item {
            justify-content: space-between;
            min-height: 70px;
            padding: 0 15px;
            border-radius: $container-border-radius;

            .deal-info-container {

                .coin {
                    margin-right: 15px;
                    font-weight: 600;
                }

                .deal-type {

                }

                .delivery-date {
                    color: #4d4d4d;
                    font-weight: lighter;
                }

            }

            .amount-status-container {
                text-align: end;

                .order-amount {
                    font-weight: 600;
                }

                .delivery-status {
                    justify-self: start;
                }
            }

        }
    }
}